{% extends '::base.html.twig' %}

{% block title %}Bienvenue à La baguette garnie !{% endblock %}


{% block stylesheets %}
    <style>
    {% block stylesheets_custom %}  {% endblock %}
    </style>
{% endblock %}


{% block header %}
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('app_homepage') }}">SANDWICHERIE-XFS</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">

                <ul class="nav navbar-nav">
                    <li class="{% if app.request.get('_route') == 'app_homepage' %} active {% endif %}"><a href="{{ path('app_homepage') }}">Home</a></li>
                    <li class="{% if app.request.get('_route') == 'app_sandwichspage' %} active {% endif %}"><a href="{{ path('app_sandwichspage') }}">Sandwichs</a></li>
                    <li class="{% if app.request.get('_route') == 'app_contactpage' %} active {% endif %}"><a href="{{ path('app_contactpage') }}">Contact</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    {#class active#}
                    {% if not is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                        <li class="dropdown {% if app.request.get('_route') in ['fos_user_registration_register', 'fos_user_security_login'] %} active {% endif %}">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Mon compte <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path('fos_user_registration_register') }}">S'enregistrer</a></li>
                                <li><a href="{{ path('fos_user_security_login') }}">Se connecter</a></li>
                                <li><a href="#">Mot de passe oublié</a></li>
                            </ul>
                        </li>
                    {% else %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <b>Bienvenue </b> {{ app.user.username }} <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path('app_profil') }}">Profil</a></li>
                                <li><a href="{{ path('historique') }}">Mes Commandes</a></li>
                                <li><a href="{{ path('fos_user_security_logout') }}">Déconnexion</a></li>
                            </ul>
                        </li>
                    {% endif %}

                    <li><a href="{{ path('app_panier')}}">Panier</a></li>
                </ul>

            </div><!--/.nav-collapse -->
        </div>
    </nav>
{% endblock %}


{% block body %}

{% endblock %}



{% block footer %}

    {{ include('AppBundle:Template:modal_sandwich.html.twig') }}
    {{ include('AppBundle:Template:modal_creer_sandwich.html.twig') }}

    <div class="col-xs-12">
        <footer>
            <div class="container">
                <article class="col-md-3">
                    <h3>Informations légales :</h3>
                    <p>&copy; 2016 Company, Inc.</p>
                </article>
                <article class="col-md-3">
                    <h3>Contact :</h3>
                </article>
                <article class="col-md-3">
                    <h3>Partenaires &amp; amis : </h3>
                </article>
                <article class="col-md-3">
                    <h3>Suivez nous !</h3>
                    <ul>
                        <li>Twitter</li>
                        <li>Facebook</li>
                        <li>LinkedIN</li>
                    </ul>
                </article>
            </div>
        </footer>
    </div>

{% endblock %}


{% block javascripts %}

{% endblock %}