{% extends 'AppBundle::layout.html.twig' %}

{% block stylesheets %}
{% endblock %}

{% block stylesheets_custom %} 
{% endblock %}


{% block body %}

<div class="container">
<h2>Votre commande n° {{commande.id}} </h2><br /> <h3>Passée en date du : {{commande.date.date}}</h3>
<table class="display table table-hover table-bordered">
        <thead>
            <tr>
                <th>Sandwich</th>
                <th>Prix Unitaire</th>
                <th>Quantité</th>
                <th>Total</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Sandwich</th>
                <th>Prix Unitaire</th>
                <th>Quantité</th>
                <th>Total</th>
            </tr>
        </tfoot>
        <tbody>
            {% for item in panier %}
           <tr>

            <td>{{item.nom_sandwich}}</td>
            <td>{{item.prix_sandwich }}</td>
                <td>
                    <input type="number" class="sandwich-quantity" id="sandwich-{{ item.id }}" name="sandwich-{{ item.id }}" value="{{item.quantite}}" disabled />
              </td>
                <td>{{item.prix_sandwich * item.quantite}} €</td>
            </tr>
        {% endfor %}
        </tbody>
</table>
</div>
{% endblock %}



{% block footer %}
        <footer>
            <div class="container">
                <article class="col-md-3">
                    <h3>Informations légales :</h3>
                    <p>&copy; 2016 Company, Inc.</p>
                </article>
                <article class="col-md-3">
                    <h3>Contact :</h3>
                </article>
                <article class="col-md-3">
                    <h3>Partenaires &amp; amis : </h3>
                </article>
                <article class="col-md-3">
                    <h3>Suivez nous !</h3>
                    <ul>
                        <li>Twitter</li>
                        <li>Facebook</li>
                        <li>LinkedIN</li>
                    </ul>
                </article>
            </div>
        </footer>
{% endblock %}


{% block javascripts %}

{% endblock %}