{% extends 'AppBundle::layout.html.twig' %}

{% block stylesheets %}
{% endblock %}

{% block stylesheets_custom %} 
{% endblock %}


{% block body %}
<div class="container">
<h2>Votre panier :</h2>
<div id="save-message"></div>
<table class="display table table-hover table-bordered">
    <input type="hidden" id="ajax-path" value="{{ path('save_current_panier') }}"/>
        <thead>
            <tr>
                <th>Sandwich</th>
                <th>Prix Unitaire</th>
                <th>Quantité</th>
                <th>Total € TTC</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Sandwich</th>
                <th>Prix Unitaire</th>
                <th>Quantité</th>
                <th>Total € TTC</th>
            </tr>
        </tfoot>
        <tbody>


        {% for item in panier_content %}
           <tr>
            <td>{{item.nom_sandwich}}</td>
            <td>{{item.prix_sandwich }}</td>
                <td>
                    <input type="number" class="sandwich-quantity" id="sandwich-{{ item.id }}" name="sandwich-{{ item.id }}" value="{{item.quantite}}"/>
              </td>
                <td>{{item.prix_sandwich * item.quantite}} €</td>
            </tr>
        {% endfor %}

        
        </tbody>
    </table>
    <div class="text-center">
        <button class="btn btn-primary" type="button" id="save-current-panier">Enregistrer mon panier</button>
        <a class="btn btn-primary" role="button" href="{{ path('valider_commande', {'id' : panier_id}) }}">Commander</a>
    </div>

</div>

{% endblock %}


{% block footer %}
    <div class="col-xs-12">
        <footer>
            <div class="container">
                <article class="col-md-3">
                    <h3>Informations légales :</h3>
                    <p>&copy; 2016 Company, Inc.</p>
                </article>
                <article class="col-md-3">
                    <h3>Contact :</h3>
                </article>
                <article class="col-md-3">
                    <h3>Partenaires &amp; amis : </h3>
                </article>
                <article class="col-md-3">
                    <h3>Suivez nous !</h3>
                    <ul>
                        <li>Twitter</li>
                        <li>Facebook</li>
                        <li>LinkedIN</li>
                    </ul>
                </article>
            </div>
        </footer>
    </div>
{% endblock %}


{% block javascripts %}
        <script src="{{ asset('js/panier.js')}}"></script>
{% endblock %}