<h3><u> {{ catalogue.nom }} </u></h3>
<div class="id-catalogue">{{ catalogue.id }}</div>
{% for sandwich in catalogue.sandwichs %}
    {% set total = 0 %}
    <ul class="list-group col-xs-12 col-lg-4 sandwich-catalogue">
        <li class="list-group-item active sandwich">
            <span class="id-sandwich" hidden>{{ sandwich.id }}</span>
            <img src="img/picture.svg" alt="img sandwich" class="img-circle">
            <span class="nom-sandwich">{{ sandwich.nom }}</span>

        </li>
        <li class="list-group-item">
            <span class="id-pain" hidden>{{ sandwich.pain.id }}</span>
            <span class="img-pain" hidden>{{ sandwich.pain.image }}</span>
            <span class="qte-pain">1</span>x
            <span class="nom-pain">{{ sandwich.pain.nom }}</span> X
            <span class="prix-pain">{{ sandwich.pain.prix }}</span> €
            {% set total = sandwich.pain.prix %}
        </li>
        {% for garnitureSandwich in sandwich.garnituresSandwich %}
            <li class="list-group-item">
                {{ garnitureSandwich.quantite }}x {{ garnitureSandwich.garniture.nom }} X {{ garnitureSandwich.garniture.prix }} €
                {% set total = total + (garnitureSandwich.quantite * garnitureSandwich.garniture.prix ) %}
            </li>
        {% endfor %}
        <li class="list-group-item">
            Coût  {{ total }}  €
        </li>
        <li class="list-group-item">
            <a href="" class="badge add-sandwich elt-hidden">Ajouter au panier</a>
            {#<a href="" class="badge " data-toggle="modal" data-target=".modal-sandwich">Modifier</a>#}
        </li>
    </ul>

{% endfor %}